.winners-page{
    position: absolute;
    z-index: 1000;
}
.winners-table{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.winners-table td{
    text-align: center;
    height: 30px;
    
}

.winners-table tr{
    height: 30px;
    border-bottom: 2px solid white;
}

.color-show{
    height: 30px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
}

.winners-table-row{
    border-bottom: 1px solid white;
}

.winners-table-car{
    height: 50px;
    width: 128px;
    margin-left: auto;
    margin-right: auto;
}

.sort-select{
    margin-left: 10px;
}

th{
    background-color: white;
    color: black;
}

td, th {
    height: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    padding: 4px;
  }
  
td:hover, th:hover {
    border-color: rgba(255, 255, 255, 0.8);

  }