.edit-modal {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  transform: translate(-50%, -50%);
}
