.winner-info {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.winner-info-header {
  font-size: 24px;
  text-align: center;
  text-wrap: wrap;
}

.winner-info-time {
  font-size: 18px;
}
