.container {
  width: calc(500px + (1000 - 500) * ((100vw - 500px) / (1440 - 500)));
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background-color: #161616;
  color: white;
  font-family: "Poppins";
}

.road {
  position: relative;
  width: 100%;
  height: 100px;
  &:not(:first-child) {
    border-top: white 1px solid;
    box-sizing: border-box;
  }
}
.race-way {
  width: calc(100% - 128px - 50px);
  position: absolute;
  left: 50px;
  height: 100px;
}

.track {
  min-height: 700px;
}

.car-name {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: calc(16px + (32 - 16) * ((100vw - 500px) / (1440 - 500)));
  text-shadow: 0 0 10px 5px white;
}
.finish {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 128px;
  height: 100px;
  margin-left: auto;
  border-right: white 10px solid;
}

.finish-text {
  transform: rotate(90deg);
  text-align: center;
  color: white;
  font-size: 24px;
}

.disabled-button {
  opacity: 0.3;
  cursor: not-allowed;
}

.cars-amount-text {
  margin: 0;
  font-size: 72px;
  text-align: center;
}

.total-cars-text {
  text-align: center;
  border-bottom: 1px solid white;
}

.cars-amount {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.header-panel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.header-panel button {
  border: 2px solid;
  border-radius: 8px;
  font-size: 14px;
  height: 30px;
  min-width: 90px;
  width: max-content;
}

.header-panel-div {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 1400px) {
  .header-panel-div {
    flex-direction: column;
  }
}

.flex {
  display: flex;
}

.create-car-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.name-input {
  padding-left: 10px;
  outline: 0;
  border-radius: 8px;
  border: 0;
  margin-right: 10px;
  height: 25px;
  width: calc(100px + (200 - 100) * ((100vw - 500px) / (1440 - 500)));
}

.color-input {
  height: 30px;
  box-sizing: border-box;
  width: 30px;
  outline: none;
  background-color: transparent;
  border: none;
}

.header-inputs {
  display: flex;
}

.__green-button {
  color: rgb(62, 221, 70);
  border: green;
  box-shadow: green;
}

.pagination-panel {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

.pagination-panel button {
  height: 30px;
  width: 90px;
  border-radius: 8px;
  border: 2px solid white;
}
